{% extends "base.html" %}


{% block title %}photogram{% endblock %}

{% block content %}

<img src="{{post.image.url}}" width="400px" height="400px"/>
<br/>

  <p>{{ post.tagified_content | safe }}</p>

<section>
    <h2>댓글 ({{ post.comment_set.count }})개</h2>
    <ul>
        {% for comment in post.comment_set.all %}
        <li><a href="{% url "profile" comment.user %}">{{ comment.user }}</a> {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <form action="{% url "comments" post.hash_id%}" method='post'>
        {% csrf_token %}
        <input type="text" name='content' placeholde='content' required>
        <input type="submit">    
    </form>
</section>

<section>

  <h2>Tags({{ post.tag_set.count }})개</h2>

  <ul>
    {% for tag in post.tag_set.all %}
    <li>
        <a href="{% url "tag" tag.name %}">
        {{ tag.full_name }}
        </a>
    </li>
    {% endfor %}
  </ul>
   
   
   <form action="{% url "tags" post.hash_id %}" method="post">
       {% csrf_token %}
    <input type="text" name='name' placeholer='name' required>
    <input type="submit">   
   </form>

</section>
{% endblock %}
