{% extends "base.html" %}


{% block title %}포스트리스트{% endblock %}

{% block content %}
  <h1>Posts List View</h1>
  <p>This is posts list page.</p>

  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url "post" post.hash_id %}">
          <img
             src="{% if post.image %}{{ post.image.url }}{% else %}http://placehold.it/200x150{% endif %}"
            alt="{{ post.title }}"
            width="300px"
            height="300px"
          />
          {{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
